#ft {
  background-color: #eaeaea;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
}
#ft .ftcontainer {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  #ft .ftcontainer {
    width: 90%;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  #ft .ftcontainer {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
#ft .ftlogo {
  max-width: 350px;
  height: 100px;
  margin: 0px 20px 0px 0px;
}
@media only screen and (max-width: 1024px) {
  #ft .ftlogo {
    max-width: 230px;
    height: auto;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 768px) {
  #ft .ftlogo {
    max-width: 180px;
    height: auto;
    margin: 10px 0px 10px 0px;
  }
}
#ft .footer_menu {
  font-size: var(--small-text);
  font-weight: 700;
  color: var(--trip-black);
}
#ft .footer_menu > ul {
  margin: 30px 0px 20px 50px;
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 1024px) {
  #ft .footer_menu > ul {
    margin: 20px 0px 20px 50px;
    gap: 20px;
    font-size: var(--desc-text);
  }
}
@media only screen and (max-width: 768px) {
  #ft .footer_menu > ul {
    margin: 20px 0px 20px 0px;
    gap: 10px;
    font-size: var(--m-small-text);
  }
}
#ft > div .d-flex {
  width: 100%;
  font-style: normal;
}
@media only screen and (max-width: 1024px) {
  #ft > div .d-flex {
    font-size: var(--m-small-text);
  }
}
@media only screen and (max-width: 768px) {
  #ft > div .d-flex {
    flex-direction: column;
    margin-top: 20px;
    font-size: var(--m-small-text);
  }
}
#ft > div .d-flex .company_info {
  margin: 20px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  font-size: var(--desc-text);
  word-break: keep-all;
}
@media only screen and (max-width: 768px) {
  #ft > div .d-flex .company_info {
    margin: 0px;
    font-size: var(--m-small-text);
  }
}
#ft > div .d-flex .company_id {
  margin: 20px 50px 0px 0px;
  flex-direction: column;
  display: flex;
  font-size: var(--m-small-text);
}
@media only screen and (max-width: 1024px) {
  #ft > div .d-flex .company_id {
    margin-top: 20px;
    display: flex;
    font-size: var(--m-small-text);
  }
}
@media only screen and (max-width: 768px) {
  #ft > div .d-flex .company_id {
    font-size: var(--m-small-text);
  }
}
#ft > div .d-flex .company_info b,
#ft > div .d-flex .company_info i,
#ft > div .d-flex .company_id i {
  margin-bottom: 8px;
  font-style: normal;
}