#ft{
    background-color: var(--trip-gray2);
    width:100%; 
    height:380px;
    display:flex;
    justify-content:center;

    .ftcontainer{
            display: flex;
            margin: 20px;
            justify-content:space-between;
            align-items: center;
            @media only screen and (max-width: 1024px){
                width: 90%;
                height: auto;
            }

            @media only screen and (max-width: 768px){ 
                //태블릿이하        
                width: 90%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
            
    }    
    
    .ftlogo{
            max-width: 350px;
            height: 100px;
            margin: 0px 20px 0px 0px;
            @media only screen and (max-width: 1024px){
                max-width: 230px;
                height: auto;
                margin-right: 10px;
            }
            @media only screen and (max-width: 768px){
                max-width: 180px;
                height: auto;
                margin: 10px 0px 10px 0px;
            }
            

    }
        
    .footer_menu{
            font-size: var(--small-text); 
            font-weight: 700; 
            color: var(--trip-black);
        >ul{
            margin: 30px 0px 20px 50px;
            display: flex;
            gap: 40px;
            
            @media only screen and (max-width: 1024px){
            
                margin: 20px 0px 20px 50px;
                gap: 20px;
                font-size: var(--desc-text);  
            }
            @media only screen and (max-width: 768px){
                margin: 20px 0px 20px 0px;
                gap: 10px;
                font-size: var(--m-small-text);  
            }
        }
    }

    >div .d-flex{
            width: 100%;
            font-style: normal;
        
            @media only screen and (max-width: 1024px){
                font-size: var(--m-small-text);  
            }
                      
            @media only screen and (max-width: 768px){
                flex-direction: column;
                margin-top: 20px;
                font-size: var(--m-small-text);  
            }
            
        .company_info{
            margin: 20px 50px 0px 50px;
            display: flex;
            flex-direction: column;
            font-size: var(--desc-text);
            word-break: keep-all;

            @media only screen and (max-width: 768px){
                margin: 0px;
                font-size: var(--m-small-text);
                
            }
        }
        .company_id{
            margin: 20px 50px 0px 0px;
            flex-direction: column;
            display: flex;
            font-size: var(--m-small-text);
            
            @media only screen and (max-width: 1024px){
                margin-top: 20px;
                display: flex;
                font-size: var(--m-small-text);
            }

            @media only screen and (max-width: 768px){
                font-size: var(--m-small-text);
            }
        }
        .company_info i,
        .company_id i{
            margin-bottom: 8px;
            font-style: normal;
        }
        
    }
}
    


// @media only screen and (max-width: 575px){
// //리얼모바일
// #ft {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     }
//     .ftcontainer{
//         width: 80%;
//         height: auto;
//         display: flex;
       
//     }
//     .ftlogo{
//         max-width: 150px;
//         height: auto;
//         margin-left: 20px;
//     }
//     .footer_menu ul{
//         margin: 20px 0px 20px 20px;
//         gap: 20px;
//         font-size: var(--m-small-text);  
//         font-weight: bold;
//         color: var(--trip-black);
//     }
//     .company_info{
//         margin: 20px;
//         font-size: var(--m-small-text);
//     }
//     .company_id{
//         margin: 20px;
//         font-size: var(--m-small-text);
//     }
//     .ftcontainer .d-flex{
//         display: block;
//     }
//     div.company_info b{
//         font-weight: normal;
        
//     }
// }