/* 공통 클래스 */
.mb{display: none;}
main{overflow: hidden;}
.img_box img{width: 100%;}
.section_tit{
    padding: 80px 0;
    font-size: var(--section-title); text-align: center;
}
.swiper-button-prev,
.swiper-button-next{
    width: 78px; height: 78px;
    background: url(.https://trip-ter.vercel.app/img/icon/arrow-left.svg) no-repeat 15px 50%/48px, var(--trip-blue); border-radius: 40px;
    text-indent: -9999px;
    transition: .3s;
}
.swiper-button-next{
    background-image: url(.https://trip-ter.vercel.app/img/icon/arrow-right.svg);
    background-position: calc(100% - 15px) 50%;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    width: 156px;
}



/* 메인 슬라이드 */
.main_swiper{
    width: 100vw; height: 720px;
    border-radius: 400px 0 0 400px;
    cursor: pointer;
}
.main_swiper 
.main_swiper .swiper-slide2{background-image: url(.https://trip-ter.vercel.app/img/main_slide/jeju.jpg);}
.main_swiper .swiper-slide3{background-image: url(.https://trip-ter.vercel.app/img/main_slide/iceland.jpg);}
.main_swiper .swiper-slide4{background-image: url(.https://trip-ter.vercel.app/img/main_slide/illustlator_slide.jpg);}
.main_swiper .slide_desc{
    top: 160px; left: 15.625%;
    color: var(--trip-black);
}
.main_swiper .swiper-slide1 .slide_desc,
.main_swiper .swiper-slide3 .slide_desc{
    color: var(--trip-white);
}
.main_swiper .slide_desc h2{
    font-family: var(--theJamsil-bold); font-size: var(--main-slide);
}
.main_swiper .slide_desc h2 span{
    padding-left: 20px;
    font-family: var(--theJamsil-bold); font-size: var(--big-text);
}
.main_swiper .slide_desc p{
    margin-top: 48px;
    font-size: var(--big-text); font-weight: 700; line-height: 1.45;
}
.main_swiper .swiper-pagination{
    left: 15.625%; bottom: 160px;
    width: auto;
}
.main_swiper .swiper-pagination .swiper-pagination-bullet{
    width: 10px; height: 10px;
    background: var(--trip-white); border-radius: 5px;
    opacity: 1;
    transition: .3s;
}
.main_swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 30px;
    background: var(--trip-yellow);
}

.mftr_form{
    top: 40px; right: 12.5%;
    height: 640px; padding: 48px;
    background: rgba(255, 255, 255, .5); backdrop-filter: blur(5px);
    z-index: 10;
}
.mftr_tit{
    margin-bottom: 48px;
    font-size: var(--big-text); font-weight: 700; color: var(--trip-blue);
    text-align: center;
}
.mftr_cont fieldset{margin-bottom: 28px;}
.mftr_cont legend{
    margin-bottom: 16px;
    font-size: var(--medium-text); font-weight: 500
}
.mftr_cont .mftr_btn_wrap{gap: 20px;}
.mftr_cont .mftr_btn_wrap input{
    padding: 4px 16px;
    font-size: var(--semismall-text);
    border-radius: 20px; border: 1px solid var(--trip-gray1); background: var(--trip-white);
    cursor: pointer;
}
.mftr_cont .mftr_btn_wrap input:focus{
    color: var(--trip-white);
    background: var(--trip-blue);
    border-color: var(--trip-blue);
}
.mftr_form .submit_btn{
    width: 100%; height: 80px;
    font-size: var(--semismall-text); text-align: center;
    background: var(--trip-yellow);
    cursor: pointer;
}
.promo_banner{
    height: 240px;
    background: var(--trip-blue); 
    overflow: hidden;
}



/* section2 */
.section2{padding-bottom: 80px;}
.md_swiper .swiper-button-prev{left: 13.542%;}
.md_swiper .swiper-button-next{right: 13.542%;}
.md_swiper .swiper_desc{word-break: keep-all;}
.md_swiper .swiper_desc b{
    flex-direction: column;
    height: 72px; padding: 16px 0;
    font-size: var(--semismall-text); font-weight: 500; line-height: 1.45; text-align: center;

}
.md_swiper .swiper_desc p{
    font-size: var(--small-text); text-align: center;
}



/* section3 */
.section3{padding: 80px 0 160px;}
.section3 .container{max-width: 1280px;}
.section3 .img_box{
    width: 460px; height: 600px;
    background: var(--trip-blue); border-radius: 230px 230px 0 0;
}
.section3 h3{
    font-family: var(--theJamsil-bold); font-size: var(--huge-text); word-break: keep-all;
}
.section3 h4{
    margin: 80px 0 40px;
    font-size: var(--section-title); color: var(--trip-blue);
    line-height: 1.45;
}
.section3 .txt_box{max-width: 700px;}
.section3 ol{
    max-width: 400px;
    row-gap: 40px;
}
.section3 li{width: 45%; padding: 8px;}
.section3 li strong{
    font-size: var(--semismall-text); font-weight: 700; color: var(--trip-blue);
}
.section3 li b{
    display: block;
    margin: 16px 0;
    font-size: var(--semismall-text);
}
.section3 li i{
    font-size: var(--small-text); color: var(--trip-gray1); font-style: normal;
    line-height: 1.6;
}
.section3 li i span{display: block;}



/* section4 */
.section4{
    padding: 40px 0 120px;
    background: var(--trip-yellow);
}
.section4 .tab_menu{
    gap: 20px;
    max-width: 1200px; margin: 0 auto 40px;
}
.section4 .tab_menu li{
    padding: 8px 16px;
    font-size: var(--semismall-text); font-weight: 700; color: var(--trip-blue);
    border: 1px solid var(--trip-blue); border-radius: 20px;
    cursor: pointer;
}
.section4 .tab_menu li.active{
    color: var(--trip-yellow);
    background: var(--trip-blue);
}
.section4 .tab_contents{
    padding: 0 50px;
}
.section4 .tab_contents li{
    width: 23.077%; height: 440px;
    border-radius: 15px; overflow: hidden;
    background: url(.https://trip-ter.vercel.app/img/review/review3_jejusea.jpg) no-repeat center/cover;
}
.section4 .tab_contents li a{
    flex-direction: column;
    width: 100%; height: 100px; padding: 0 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    transition: .3s;
}
.section4 .tab_contents li b{
    font-size: var( --medium-text); font-weight: 600; line-height: 1.45;
    word-break: keep-all; text-align: center;
    transition: .3s;
}
.section4 .tab_contents li span{
    display: block;
    height: 0; overflow: hidden;
    font-size: var(--semismall-text); line-height: 1.45;
    transition: .3s;
}
.section4 .tab_contents li:hover a{height: 100%;}
.section4 .tab_contents li:hover b{
    display: block;
    margin-bottom: 20px;
    font-size: var(--semismall-text); font-weight: 400;
}
.section4 .tab_contents li:hover span{height: auto;}



/* section5 */
.section5{padding: 20px 0 80px;}
.section5 ul{ max-width: 1280px; margin: auto;}
.section5 ul li{width: 48.438%; border-radius: 20px;}
.section5 ul li:nth-child(2){background: red;}



/* section6 */
.section6{background: linear-gradient(var(--trip-white), var(--trip-skyblue));}
.page_view{
    margin-bottom: 36px;
}
.section6 .flow_line{
    margin: 24px 0;
}