//myfeelter
#myfeelter {
    .question_info{
        padding: 1.25rem 0 2.5rem 0;
        .back_btn{
            width: 2rem;
            height: 2rem;
            background: url("https://trip-ter.vercel.app/img/icon/arrow-left_black.svg") no-repeat center/contain;
            cursor: pointer;
            &.none-active{
                background-image: url("https://trip-ter.vercel.app/img/icon/arrow-left_gray.svg");
                cursor: default;
            }
        }
    }
    fieldset .d-flex{
        flex-wrap: wrap; gap: 1.25rem;
    }
    //질문
    legend{
        font-size: var(--medium-text);
        font-weight: 600;
        margin-bottom: 2.5rem;
        span{
            color: var(--trip-blue);
            font-size: var(--big-text);
            font-weight: 700;
        }
    }
    //보기
    .answerBox{
        padding: 0 1.5rem;
        label{
            position: relative;
            border-radius: 1.25rem;
            background:url('http://trip-ter.vercel.app/img/myfeelterimage/1-1.jpg') no-repeat center/cover;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(255,255,255,.8);
            }
            &:hover{
                &::before {
                    background-color: transparent;
                    cursor: pointer;
                    transition: background-color 0.3s ease-in;
                }
                span{
                    opacity: 0;
                }    
            }
            span{
                position: relative;
                font-size: var(--semismall-text);
            }
        }
    }

    .table2{
        label{
            width: calc(50% - 0.625rem);
            height: 12.5rem;
        }
    }
    .table3{
        label{
            width: 13.75rem;
            height: 12.5rem;
        }
    }
}
//계획짜기_항공
#planmakerType1{
    .wishlist_quick{   
         background-color: var(--trip-yellow);
         width: 64px;
         aspect-ratio: 1 / 1;
         border-radius: 50px;
        .wishlist_icon{
            background: url('https://trip-ter.vercel.app/img/icon/bag-03.svg') no-repeat center/cover;
            width: 32px;
            aspect-ratio: 1 / 1;
        }
    }
    //저장된 계획
    .plan_info{
        background-color: var(--trip-blue);
        padding: 0.625rem 1.25rem; 
        border-radius: 1.875rem;
        gap: 5rem;
        margin-bottom: 2.5rem;
        ul{
            li{
                font-size: var(--semismall-text);
                color: var(--trip-white);
                padding: 0.5rem;
                a{
                    font-size: var(--semismall-text);
                    color: var(--trip-white); 
                }
            }
        }
        .plan_edit{
            flex-grow: 1;
        }
    }
    //상풍 페이지 탭
    .tab_content{
        ul li{
            border: 0.0625rem solid var(--trip-blue);
            border-radius: 1.25rem;
            padding: 0.5rem 1rem;
            a{
                font-size: var(--small-text);
                color: var(--trip-blue);
            }
            &.tripcar_tab{
                border: 0.0625rem solid #FF7F50;
                a{
                    color: #FF7F50;
                }
            }
            &.tabClick{
                background-color: var(--trip-blue);
                a{
                    color: var(--trip-yellow);
                }
            }

            &.tripcar_tab.tabClick{
                background-color:#3EB489;
                border: 0.0625rem solid #3EB489;
                a{
                    color: var(--trip-white);
                }
            }
        }
    }
    .plane_title {
        margin: 2.5rem 0 1.25rem 0;
        .plane_title_all {
            font-size: var(--mediumbig-text);
            font-weight: 700;
        }
        .option_list{
            .title{
                font-size: var(--medium-text);
            }
        }
    
        .before_btn,
        .front_btn {
            padding: 0.625rem 0.75rem;
            border-radius: 1.25rem 0.3125rem 0.3125rem 1.25rem;
    
            a {
                font-size: var(--semismall-text);
                font-weight: 700;
            }
        }
        .before_btn {
            background-color: var(--trip-gray1);
            padding-right: 1.5rem;
    
            a {
                color: var(--trip-gary3);
            }
        }
        .front_btn {
            background-color: var(--trip-blue);
            border-radius: 0.3125rem 1.25rem 1.25rem 0.3125rem;
            padding-left: 1.5rem;
    
            a {
                color: var(--trip-yellow);
            }
        }
    }
    //항공필터
    .select_box{
        .option_list {
            width: fit-content;
            height: auto;
            .filter_section {
                padding: 1rem;
                .title {
                    font-size: var(--medium-text);
                    font-weight: 700;
                }
                li button {
                    border: 1px solid;
                    border-radius: 5px;
                    width: 25px;
                    height: 25px;
                }
                p {
                    font-size: var(--semismall-text);
                }
                span {
                    font-size: var(--small-text);
                    white-space: nowrap;
                }
            }
        }
     
        //range-slider 바
        #sliderbar_go, #sliderbar_back {
            .noUi-horizontal{
                height: 10px;
            }
            .noUi-connect {
                background: var(--trip-blue);
                border-radius: 50px;
            }
            .noUi-handle {
                background: var(--trip-white);
                border: 1px solid var(--trip-blue); 
                border-radius: 50%;
                width: 24px;
                height: 24px;
            }
            .noUi-handle:before, .noUi-handle:after{
                display: none;
            }
        }
    }
    //항공권 정보
    .plane_list{
        .plane_left{
            ul{
                gap: 3.75rem;
                div{
                    gap: 3.75rem;
                    .planeLogo_wrap{
                        min-width: 136px;
                    }
                    .planeLogo{
                        background-size: cover;
                        background-position: center;
                        width: 40px;
                        height: 40px;
                    }
                    span{
                        font-family: var(--theJamsil-bold);
                    }
            }
                .plane_time p{
                    font-size: var(--medium-text);
                    &.airport{
                        font-size: var(--semismall-text);
                    }
                }
                .flight-time p{
                    font-family: var(--small-text);
                }
                .arrow-right{
                    display: inline-block;
                    position: relative;
                    width: 120px;
                    height: 2px;
                    background-color: black;
                    &::after{
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 5px;
                        height: 5px;
                        border-right: 2px solid black;
                        border-bottom: 2px solid black;
                        transform: translateY(-50%) rotate(-45deg);
    
                    }
                }
            }
            .share_heart_group{
                span{
                    display: block;
                    width: 24px;
                    height: 24px;
                }
                .share_icon{
                    background: url("https://trip-ter.vercel.app/img/icon/tab_icon/upload.svg") no-repeat center/cover;                    
                }
                .heart_icon{
                    background: url("https://trip-ter.vercel.app/img/icon/heart_bl.svg") no-repeat center/cover;
                }
            }    

        }
    }
}
#quick{
    display:none;
}

@media only screen and (max-width: 768px) {
    #myfeelter {
        .questionBox{
            display: flex;
            justify-content: center;
            margin: 20px 0 20px 0;
        }
        .answerBox {
        label{
                background-image: none !important;
                border: 2px solid var(--trip-blue);
                border-radius: 25px 5px 5px 25px;
                height: 50px;
                width: 100%;
                &::before {
                    content: none;
                }
                &:hover{
                        background-color: var(--trip-skyblue);
                        cursor: pointer;
                        transition: background-color 0.3s ease-in;
                        span{
                            opacity: 1;
                        }
                } 
        }
    }  
    } 
}
@media only screen and (max-width: 575px){
    #myfeelter {
        legend{
            font-size: var(--small-text);
            span{
                font-size: inherit
            }
        }
    }
}