#userLogin .container_m {
  max-width: 400px;
}
#userLogin h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
}
#userLogin h3 span {
  display: block;
  margin-top: 10px;
}
#userLogin form {
  align-items: center;
}
#userLogin form fieldset {
  width: 100%;
  border: none;
  margin-bottom: 15px;
  text-align: left;
}
#userLogin form fieldset label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
#userLogin form fieldset input {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 14px;
}
#userLogin form fieldset input:placeholder {
  color: var(--Trip-blue, #0051D3);
}
#userLogin .findInfo {
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 25px;
}
#userLogin .findInfo a {
  text-decoration: none;
}
#userLogin .btn_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#userLogin .btn_wrap button {
  width: 100%;
  padding: 12px 0;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--Trip-blue, #0051D3);
  color: white;
  text-align: center;
  cursor: pointer;
}
#userLogin .btn_wrap a {
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--Trip-blue, #0051D3);
  border: 1px solid var(--Trip-blue, #0051D3);
  border-radius: 5px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
#userLogin .sns_login {
  margin-top: 30px;
}
#userLogin .sns_login h4 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
#userLogin .sns_login ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}
#userLogin .sns_login ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}
#userLogin .sns_login ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#userLogin .sns_login ul li a img {
  object-fit: contain;
}
#userLogin .sns_login ul #naver {
  background-color: #03C75A;
}
#userLogin .sns_login ul #naver img {
  width: 80%;
}
#userLogin .sns_login ul #kakao {
  background-color: #FEE500;
}
#userLogin .sns_login ul #kakao img {
  width: 90%;
}
#userLogin .sns_login ul #facebook img {
  width: 100%;
}
#userLogin .sns_login ul #google {
  border: 1px solid #1877F2;
}
#userLogin .sns_login ul #google img {
  width: 45%;
}
#userLogin .sns_login ul #apple {
  background-color: black;
}
#userLogin .sns_login ul #apple img {
  width: 100%;
}